<table class="table table-hover">
    <tr valign="top">
        <td width="70px">
            {{ project.body }}<br>
            <p>Project <a href= {{project.describe}} >Describe</a></p>
            {{ project.type }}<br>
            {{ project.view }}<br>
            {{ project.current_number_of_students}}<br>
            {{ project.max_students }}<br>
            {{ project.name }}<br>
            <input type="submit" name="submit_button" value="Tick(TODO)">
            <input type="submit" name="submit_button" value="Cross(TODO)">
        </td>
    </tr>
</table>