<table>
    <tr valign="top">
        <td>
            {{ project.body }}<br>
            <p>Project <a href= {{project.describe}} >Describe</a></p>
            {{ project.type }}<br>
            {{ project.view }}<br>
            {{ project.current_number_of_students}}<br>
            {{ project.max_students }}<br>
            {{ project.name }}<br>
            <input type="submit" name="submit_button" value="Do Something">
            <input type="submit" name="submit_button" value="Do Something Else">
        </td>
    </tr>
</table>